h1{
    font-size:17px;
    line-height:0;
    text-align:left;
}
h2{
    font-size:17px;
    line-height:0;
    text-align:left;
}
p{
    text-align:left;
    width:400px;
}
h5{
    font-size:12px;
    font-weight:400;
    text-align:center;
}
