*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    font-size: 14px;
    color: #222222;
    background-color: #f2f2f2;
}
img{
    max-width: 100%;
}
.section{
    float:left;
    width:100%;
}
.container{
    width:1200px;
    margin:0 auto;
    float:none;
}
p{
    float:left;
    width: 100%;
}
.header{
    background-color: #ffffff;
    border-bottom: 1px solid #f5f5f5;
    padding: 30px 0;
}
.header .logo{
    float:left;
}
.top-link{
    float:right;
}
.logo a{
    float:left;
    font-size: 27px;
    line-height: 1;
    text-decoration: none;
    color:#3d3d3d;

}
.top-link li{
    list-style: none;
    float:left;
    margin-left: 30px;

}
.top-link li a {
    line-height: 25px;
    font-size: 15px;
    text-decoration: none;
    color:#3d3d3d;

}
.nav{
    background-color: #ffffff;
    padding: 20px 0;
    margin-bottom: 30px;
}
.menu li{
    float:left;
    list-style: none;
    margin-right:30px ;
}
.menu li.last{
    float:right;
    margin-right: 0;
}
.menu li a {
    text-decoration: none;
    color:#5b5b5b;
}
.menu li .last a{
    color: #5b5b5b;
}

.section-main{
    background-color: #eeeeee;
}
.content{
    float:left;
    width:66.67%;
    padding-right: 15px;
}
.sidebar{
    float:left;
    width: 33.33%;
    padding-left: 15px;
}
h1{
    font-size:35px;
    margin-bottom: 10px;

}
.post a{
    color:red;
    margin-bottom: 10px;
}
.post p{
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 10px;
}
.post p.text{
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 10px;
}
.post{
    float:left;
    width:100%;
    background-color: #ffffff;
    padding:30px;

}
.block{
    float:left;
    width:100%;
    background-color: #ffffff;
    padding:30px;
    margin-bottom: 30px;
    box-shadow:#666666 ;
}

.subcribe{
    background-color: #333333;
    width: 100%;
}
.block{
    width: 100%;
}
.subcribe p{
    float:left;
    width:100%;
    margin-top: 10px;
    margin-bottom: 20px;
    color:white;
}
.subcribe h2{
    color: white;
}
.form-group{
    width:100%;
}
.ip-text{
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
}
.but{
    width: 100%;
    height: 45px;
    background-color: red;
    color:#ffffff;
}